/* reset css */
h1,h3,h4,h5,h6,figure,p{
    margin:0;
    padding: 0;
}
.container {
    width: 1280px;
    margin: 0 auto;
    /* margin: 0; aplica a todos */
    /* margin 0 0; el primero aplica top-bottom y el segundo right-left*/
    /*margin 0 0 0; top right-left bottom*/
    /* margin 0 0 0 0;top right bottom left */
    /* margin-top,  margin-right, margin bottom, margin left*/
    
}
.flexible{
    display: flex;
}
#encabezado{
    height:150px;
    margin-bottom: 5px;
}

#encabezado figure{
    text-align: center;
    
}

body{
background-color:  #4d97f1;

}

/* BARRA NAVEGACION INICIO */
#menu {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color:  #4d97f1;
    margin-bottom: 28px;
}


#menu ul {
    padding: 0;
    
}


#menu li {
    list-style-type: none;
    padding: 10px;
    display: inline-block;
}


#menu li a{
    text-decoration: none;
    color:black;
    font:monospace;
}


#menu>ul>li{
    display: inline-block;
} 


#menu>ul>li>a{
    padding: 20px;
}


#menu>ul>li>a:hover{
    color: #4d97f1;
    transition: 1s;
}

#history{
    background-color:#fc3787;
    display: block;
}

#news{
    background-color:#ff491f;
}

#albums{
    background-color:#ffff4f;
}

#songs{
    background-color: #5cb94e;
}

#photos{
    background-color: #306bbf;
}

#videos{
    background-color: #928cca;
}

#store{
    background-color: azure;
}
/* BARRA NAVEGACION FIN */
/* nota principal inicio*/
#nota_principal{
    text-align:center;
}
#nota_principal img{
    border: 5px  solid lightyellow;
     box-shadow: 0 0 15px darkgray;
    margin-bottom: 28px;
}
#music{
    width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* nota principal fin*/

/* notas inicio*/
#notas{
    display:block;
}
#notas h1{
    text-align: center;
    font: monospace;
    font-size: 1.8em;
    color: whitesmoke;
    border-top: 3px double lightblue;
    border-bottom: 3px double lightblue;
    margin-bottom: 15px;
}
/* notas fin */

/* noticas inicio*/
.noticias_relevantes  {
    justify-content: space-around;
    margin-top:15px;
    display: flex;
    margin-bottom: 28px;
    margin-top: 28px;
    
}
/*noticias fin*/

/* albumes inicio*/

.albumes{
    margin-bottom: 10px;
    display:flex;
    justify-content: space-around;
    margin-top: 14px;
    margin-left: 14px;
    margin-bottom: 14px;
}

/* albumes fin*/

/* notas secundarias inicio*/
#notas-secundarias{
    margin-top: 20px;
    width: 950px;
    /*min-height: inherit;*/
    
}
.img_notasec{
    position: relative;
}
#notas-secundarias article{
    display: flex;
    padding-bottom: 28px;
    margin-bottom: 14px;
}
#notas-secundarias h2{
    text-align: center;
    font: monospace;
    color: gainsboro;
    border-top: 3px double lightblue;
    border-bottom: 3px double lightblue;
}
#notas-secundarias h4{
    margin-left: 5px;
    text-align: justify;
    font: monospace;
    margin-bottom: 5px;
    color: gainsboro;
}
.img_notasec  span{
    position: absolute;
    top: 10px;
    left: -5px;
    padding: 5px 10px;
    background-color: lightyellow;
}
.tit_notasec{
    font-size: 1.7em;
    line-height: 0.9em;
    font-variant: small-caps;
}
.contenido_notasec{
    padding-left: 20px;
    padding-right: 10px;
}
.intro_notasec{
    text-align: justify;
    margin=10px 0 !important;
}
.boton {
    background:lightgray;
    display: inline-block;
    padding: 5px;
    margin-top: 14px;
    margin-left: 28px;
    box-shadow: 0px 1px 3px darkgray;
}

.boton>div{
    padding: 1px 20px;
    border: 1px solid rgba(255,255,255,.7);
}

.boton p {
    color: black;
    font-variant: small-caps;
    font-size:  1.1em;
}
/* notas secundarias fin*/

/* publicidad y redes inicio*/
#publicidad{
    min-height:inherit;
    width:250px;
    display: inline-block;
    float: right;
    margin-right: 0px;
    margin-top: 14px;
    margin-left: 28px;
}
#publicidad img{
  
}
#redes{
text-align: center;
margin-bottom: 10px;
    
}
.facebook, .youtube{
    width:  33px;
    height: 33px;
    display: inline-block;
    text-indent: -9999px;
    transition: 0.1s;
}

.facebook{
    background: url('../images/redes/facebook_youtube.png')0 0;
}
.youtube{
    background: url('../images/redes/facebook_youtube.png') -43px 0;
}
.facebook:hover{
    background: url('../images/redes/facebook_youtube.png') 0 -43px;
}
.youtube:hover{
    background: url('../images/redes/facebook_youtube.png') -43px -43px;
}
.twiter, .vimeo{
    width:  33px;
    height: 33px;
    display: inline-block;
    text-indent: -9999px;
    transition: 0.1s;
}

.twiter{
    background: url('../images/redes/vimeo-twiter.png')0 0;
}
.vimeo{
    background: url('../images/redes/vimeo-twiter.png') -43px 0;
}
.twiter:hover{
    background: url('../images/redes/vimeo-twiter.png') 0 -43px;
}
.vimeo:hover{
    background: url('../images/redes/vimeo-twiter.png') -43px -43px;
}
#vidios{
    margin-top: 14px;
    margin-bottom: 14px;
}
/* publicidad y redes fin*/

/* gifs inicio*/
#gif{
    display: flex;
    justify-content: space-around;
    margin-left: 8px;
}
/* gifs fin*/

/* pie inicio*/
#pie{
    text-align: center;
    align-content: center;
}

#autor p{
    text-align: center;
    color: aqua;
    font-size: 1.2em;
}
#copyrigth p{
    color: aqua;
}
#copyrigth{
    text-align: center ;
    border-top: 3px double lightblue;
    border-bottom: 3px double lightblue;
    padding: 5px 0;
    color: darkgray;
}

#copyrigth abbr{
    cursor: help;
    border-bottom: 1px dotted lightgray;
    
}

.nav_pie {
    height: 48px;
    display: flex;
    justify-content:flex-end;
}
.nav_pie li {
    list-style-type: none;
    padding: 5px;
    font-family:serif;
    font-size: 0.8em;
}
.nav_pie>ul>li {
    display: inline-block;
}
.nav_pie li a {
    text-decoration: none;
    color:whitesmoke;
}

.nav_pie>ul>li>a {
    padding: 10px;
}
.nav_pie li ul {
    display: none;
}
.nav_pie>ul>li>a:hover {
    background-color: aqua;
    transition: 0.5s;
}
.nav_pie>ul {
    padding: 0;
}

/* pie fin*/
